In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
# Configuración de rutas
base_dir = os.getcwd()
fichero_path = os.path.join(
    base_dir, "..", "data", "raw", "thiroid_cancer_raw.csv"
)

In [3]:
df = pd.read_csv(fichero_path)
df.head(1)

,Age,Gender,Country,Ethnicity,Family_History,Radiation_Exposure,Iodine_Deficiency,Smoking,Obesity,Diabetes,TSH_Level,T3_Level,T4_Level,Nodule_Size,Diagnostico
0,66,Male,Russia,Caucasian,No,Yes,No,No,No,No,9.37,1.67,6.16,1.08,0

### Pasamos las columnas que sean de tipo object a getDummies para que las convierta en columnas con dos posibles valores 0 o 1

In [4]:
for col in df.columns:
    if df[col].dtype == 'object':  # Solo procesa columnas de tipo object
        df[col] = df[col].replace({'Yes': 1, 'No': 0})
dummies = pd.get_dummies(df[["Gender", "Ethnicity","Country"]], drop_first=True, dtype=int)
df.drop(columns=["Gender", "Ethnicity","Country"], inplace = True)
df = pd.concat([df, dummies], axis = 1)

C:\Users\dani0\AppData\Local\Temp\ipykernel_5788\576117047.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[col] = df[col].replace({'Yes': 1, 'No': 0})

### En total 26 columnas

In [6]:
df.columns

Index(['Age', 'Family_History', 'Radiation_Exposure', 'Iodine_Deficiency',
       'Smoking', 'Obesity', 'Diabetes', 'TSH_Level', 'T3_Level', 'T4_Level',
       'Nodule_Size', 'Diagnostico', 'Gender_Male', 'Ethnicity_Asian',
       'Ethnicity_Caucasian', 'Ethnicity_Hispanic', 'Ethnicity_Middle Eastern',
       'Country_China', 'Country_Germany', 'Country_India', 'Country_Japan',
       'Country_Nigeria', 'Country_Russia', 'Country_South Korea',
       'Country_UK', 'Country_USA'],
      dtype='object')

In [ ]:
df.head(1)

,Age,Family_History,Radiation_Exposure,Iodine_Deficiency,Smoking,Obesity,Diabetes,TSH_Level,T3_Level,T4_Level,...,Ethnicity_Middle Eastern,Country_China,Country_Germany,Country_India,Country_Japan,Country_Nigeria,Country_Russia,Country_South Korea,Country_UK,Country_USA
0,66,0,1,0,0,0,0,9.37,1.67,6.16,...,0,0,0,0,0,0,1,0,0,0

In [7]:
base_dir = os.getcwd()
fichero_path = os.path.join(
    base_dir, "..", "data", "processed", "thiroid_cancer_processed.csv"
)

In [8]:
df.to_csv(fichero_path, index=False)